@font-face {
    font-family: 'Serpentine D';
    src: url('fonts/serpentine-webfont.woff2') format('woff2'),
         url('fonts/serpentine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold_italic';
    src: url('fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold';
    src: url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold_italic';
    src: url('fonts/montserrat-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratitalic';
    src: url('fonts/montserrat-italic-webfont.woff2') format('woff2'),
         url('fonts/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratmedium_italic';
    src: url('fonts/montserrat-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/montserrat-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemibold';
    src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('fonts/montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes logorev {
	from {right: 5vw;}
	to {right: 18vw;}
}

@keyframes titlerev {
	from {opacity: 0; left: 5vw;}
	to {opacity: 1; left: 7vw;}
}

@keyframes tagrev {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

html, body {
    overflow-x: hidden;
}

body {
	background-color: whitesmoke;
}

.header {
	margin: 10px 0;
	text-align: center;
}

.logoh {
	max-width: 16%;
	display: inline-block;
	position: relative;
	
	animation: logorev;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}


.title {
	font-family: 'Serpentine D', sans-serif;
	color: #000081;
	font-size: 9vw;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 2vw;
	overflow-x: auto;
	align-content: center;
	
	animation: titlerev;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.tagh {
	font-family: 'Serpentine D', sans-serif;
	position: relative;
	text-align: center;
	font-size: 2vw;
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

.timer {
	font-family: 'Serpentine D', sans-serif;
	
}

.about-text {
	font-family: 'montserrat', sans-serif;
}


